<div class="background">
  <div class="submit-form">
  <%= form_tag("/login") do %>
      <h1>Log In</h1>
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
      <% end %>
      <input name="email" placeholder="Email"><br/>
      <input type="password" name="password" placeholder="Password">
      <br/><input type="submit" value="LOG IN" class="submit-btn">
      <div class="create-account">
      <%= link_to("Create an account", "/users/new", {class: "create-account"}) %>
      </div>
  <% end %>
  </div>
</div>
