<div class="content">
  <div class="content-image">
    <div class="menu">
      <ul>
        <li>Blogger</li>
        <li>Search</li>
        <li>My Page</li>
        <li>Sign Up</li>
      </ul>
    </div>
  </div>
  <div class="content-middle">
    <div class="content-left">
      <h1>New Posts</h1>
    </div>
    <div class="content-right">
    </div>
  </div>
</div>
