// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-image{
  height: 520px;
  width: 100%;
  background-image: url("/home_image/home.jpg");
}

.menu{
  position: absolute;
  top: 450px;
  padding-left: 10px;
}

.menu li{
  list-style: none;
  float: left;
  font-size: 25px;
  padding: 20px 35px;
  font-family: cursive;
}

.link{
  text-decoration: none;
  color: #ffffff;
}

.content-middle{
  padding: 30px;
}

.content-left{
  float: left;
  padding: 15px;
  height: 800px;
  width: 900px;
  border-right: 3px solid #b3aeb5;
}

.content-right{
  float: left;
  padding: 15px;
  height: 800px;
}

.new-post-form{
  height: 150px;
  width: 850px;
  box-shadow: 0 3px 8px #c1ced7;
  padding: 15px;
}

.index-left img{
  float: left;
  height: 150px;
  width: 200px;
  padding: 5px;
}

.index-right{
  float: left;
  padding: 10px;
  background-color: #ffffff;
}
