// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-image{
  height: 520px;
  width: 100%;
  background-image: url("/home_image/home.jpg");
}

.page-title{
  position: absolute;
  top:220px;
  left: 250px;
  color: #ffffff;
  font-family: cursive;
  font-size: 25px;
}

.page-title h1{
  font-size: 45px;
}

.content-middle{
  position: absolute;
  top: 550px;
  left: 330px;
  height: 850px;
  width: 900px;
}

.content-middle h1{
  font-family: serif;
}

.index-post-form{
  height: 190px;
  width: 850px;
  box-shadow: 0 3px 8px #c1ced7;
  padding: 15px;
}

.index-left img{
  float: left;
  height: 160px;
  width: 230px;
  padding: 5px;
}

.index-post-title{
 text-decoration: none;
 font-size: 30px;
 color: black;
}

.index-right{
  float: left;
  padding: 10px;
  background-color: #ffffff;
}

.index-right-top{
  padding: 5px;
  height: 80px;
  width: 550px;
}

.index-right-bottom{
  padding: 5px;
  height: 50px;
  width: 550px;
}

.index-right-bottom img{
  padding: 0px;
  height: 40px;
  width: 40px;
}

.index-right-bottom span{
  font-size: 20px;
  }

.link-to-user{
  text-decoration: none;
  color: #000000;
 }

.like-feture{
  float: right;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}
