// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
}

.background-a{
  height: 1700px;
  width: 100%;
  background-color: #eeeeee;
}

.information-upper{
  position: absolute;
  top: 120px;
  left: 450px;
  height: 240px;
  width: 550px;
  box-shadow: 0 3px 8px #c1ced7;
  background-color: #ffffff
}

.information-upper img{
  padding: 20px;
  height: 240px;
  width: 240px;
  float: left;
}

.name_email{
  padding-top: 20px;
  float: left;
}

.show-user-edit{
  padding: 30px 30px 0px 30px;
}

.information-upper li{
  padding: 20px 20px 10px 40px;
  list-style: none;
  font-size: 20px;
}

.new-post{
  position: absolute;
  top: 420px;
  left: 550px;
}

.btn{
  width: 320px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  background-color: #3366ff
}

.user-post-index{
  position: absolute;
  top: 550px;
  left: 300px;
  height: 1000px;
  width: 900px;
}

.user-post{
  height: 250px;
  width: 900px;
  box-shadow: 0 3px 8px #c1ced7;
  background-color: #ffffff;
}

.mypage-index-left img{
  height: 250px;
  width: 340px;
  padding: 20px;
  float: left;
}

.mypage-index-right{
  float: left;
  height: 205px;
  width: 500px;
  margin: 20px;
}

.mypage-upper{
  height: 170px;
  width: 100%;
}

.submit-form{
  position: absolute;
  top: 200px;
  left: 500px;
  width: 450px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 3px 8px #c1ced7;
}

.submit-form input{
  width: 100%;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
}

.submit-form input:focus{
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.submit-btn{
  margin-top: 20px;
  width: 100%;
}

.submit-btn:hover{
  cursor: pointer;
  background: #C0C0C0;
  transition: background 0.3s ease-in-out;
}

.create-account{
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding-top: 20px;
}

.show-post-edit{
  padding: 20px;
}
